<div class="container custumer_container">
    <div class="card custum-card">

        <h5 class="card-header">Ajouter Foyer</h5>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="nom_Foyer" class="form-label">Nom foyer</label>
                    <input type="text" class="form-control" id="nom_Foyer" aria-describedby="foyerName">

                </div>
                <div class="mb-3">
                    <label for="capacity" class="form-label">Capacité foyer</label>
                    <input type="number" class="form-control" id="capacity">
                </div>

                <button type="submit" class="btn btn-primary">Enregister</button>
            </form>
        </div>
    </div>

</div>